<app-navigation class="nav"></app-navigation>
<div class="dashboard">
  <!-- <div class="cards">
    <div class="card">
      <h1>Savings</h1>
      <img
        src="https://cdn.pixabay.com/photo/2014/10/23/10/10/dollars-499481_960_720.jpg"
        alt="savings"
      />
    </div>
    <div class="card"><h1>Loans</h1></div>
    <div class="card">
      <h1>Credit Cards</h1>
      <img
        src="https://cdn.pixabay.com/photo/2018/07/13/18/54/credit-card-3536348_960_720.jpg"
        alt="savings"
      />
    </div>
    <div class="card">
      <h1>Investments</h1>
      <img
        src="https://cdn.pixabay.com/photo/2015/10/31/12/00/financial-equalization-1015305__340.jpg"
        alt="savings"
      />
    </div>
  </div> -->

  <div class="outer-box">
    <div class="inner-box">
      <img
        src="https://cdn.pixabay.com/photo/2014/10/23/10/10/dollars-499481_960_720.jpg"
        alt="savings"
      />
    </div>
    <div class="inner-box">
      <img
        src="https://cdn.pixabay.com/photo/2018/07/13/18/54/credit-card-3536348_960_720.jpg"
        alt="savings"
      />
    </div>
    <div class="inner-box">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/31/12/00/financial-equalization-1015305__340.jpg"
        alt="savings"
      />
    </div>
    <div class="inner-box"></div>
  </div>
</div>
<app-footer></app-footer>
